body 
{
    color: rgb(121, 56, 243);
    text-align: left; 
    font-family: "CalibriCondenser";
    font-size: 25px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD ;


}

#container h1
{
    font-size: 23px;

}